---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mim"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Oi! Meu nome é Miguel, tenho 10 anos e sou de São Paulo. Atualmente, estou aproveitando minhas férias para me dedicar a algumas das minhas paixões: criar sites, jogar e interagir no Discord. Adoro explorar novas tecnologias e aprender mais sobre como construir e otimizar sites, o que é uma das minhas grandes paixões.

Nas horas vagas, estou quase sempre jogando ou conversando com meus amigos no Discord, seja para jogar, bater papo ou trocar ideias sobre os mais diversos assuntos. Acredito que esses momentos de diversão também são uma forma de aprender e me desenvolver.

Meu maior objetivo é crescer no YouTube e alcançar pelo menos 100 mil seguidores. Quero criar conteúdo que me permita compartilhar minhas experiências, ideias e, quem sabe, inspirar outras pessoas.

Eu sou um cara bem focado e determinado, e estou sempre buscando novas maneiras de melhorar e aprender mais. Se você curte tecnologia, games e um bom papo, talvez a gente se esbarre por aí!
Se você quer conversar comigo, vem com o <a href="https://discord.com">Discord</a>: not_megpoid_official
</p>
</Layout>
