---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre o site"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('December 08 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Bem-vindo ao meu site! Aqui, você vai encontrar uma mistura de conteúdo sobre tecnologia, dicas de criação de sites, jogos, e muito mais. O objetivo deste espaço é compartilhar meu aprendizado e experiências enquanto exploro o mundo digital.

		O site foi desenvolvido usando Astro, uma framework moderna e eficiente para criação de sites. Com Astro, pude criar um design rápido, leve e responsivo, garantindo uma experiência fluida para quem acessa de qualquer dispositivo. Eu optei por usar essa tecnologia por sua simplicidade, performance e flexibilidade, tornando a construção e manutenção do site muito mais ágil.
		
		Neste blog, você encontrará:
		
		- Tutoriais e dicas sobre criação de sites: Compartilho o que estou aprendendo enquanto exploro diferentes ferramentas e tecnologias. Se você está começando ou já tem experiência, aqui tem sempre algo útil.
		- Conteúdo sobre jogos e cultura geek: Como adoro jogos e tudo relacionado ao universo geek, você também vai ver algumas postagens sobre os jogos mais recentes, dicas e até minhas experiências no mundo dos games.
		- Experiências pessoais e projetos: Acompanhando minha jornada, você verá meus próprios projetos e ideias, além de algumas reflexões sobre o que estou criando e aprendendo.
		- Este site é um reflexo do meu interesse em tecnologia e no que ela pode fazer, tanto para minha vida quanto para a dos outros. Espero que você aproveite o conteúdo e, quem sabe, se inspire para começar a criar seus próprios projetos!
		
		Fique à vontade para navegar, deixar comentários e até sugerir ideias para novos posts. O site está sempre evoluindo, assim como meus conhecimentos, e adoraria ter você acompanhando esse processo!
		
		
</p>
</Layout>
