---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Site do Panda" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Olá, bem-vindo ao meu site!!!</h1>

<strong>Olá! Sou Miguel e este é o meu portfólio e blog pessoal. Aqui você vai encontrar um pouco de tudo: ideias, inspirações, reflexões e muitos conteúdos que compartilham o meu olhar sobre o mundo. Este é um lugar para quem gosta de explorar novos conhecimentos, se inspirar e, claro, se divertir com a leitura.

	Meu objetivo por aqui é criar um ambiente leve e educativo, onde você possa aprender algo novo, refletir sobre temas interessantes e se sentir à vontade para interagir. Acredito que a troca de ideias é o que torna a jornada mais rica, então espero que cada post aqui traga algo que ressoe com você e que nos ajude a crescer juntos.
	
	Seja bem-vindo e sinta-se em casa! Navegue à vontade, explore os conteúdos e, se algo te inspirar, não hesite em deixar seu comentário. Vamos conversar!</strong>
	
		</main>
		<Footer />
		<script>
			document.querySelector('.hamburger')?.addEventListener('click', () => {
			  document.querySelector('.nav-links')?.classList.toggle('expanded');
			});
		  </script>
	</body>
</html>
