---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Site do Panda" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Olá, bem-vindo ao meu site!!!</h1>

<code>Escolha um dos botões para navegar pelo site.</code>
	
		</main>
		<Footer />
		<script>
			document.querySelector('.hamburger')?.addEventListener('click', () => {
			  document.querySelector('.nav-links')?.classList.toggle('expanded');
			});
		  </script>
	</body>
</html>
