---
import BaseHead from './components/BaseHead.astro';
import Header from './components/Header.astro';
import Footer from './components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Site do Panda" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hm... ¡parece que no hay ninguno aquí!</h1>
            <p>¡Grave! ¿Por qué desapareció? Hm... parece que alguien lo robó...
            </p>
            <p>Si esta página le aparece cuando hace clic en uno de los botones, puede deberse a que la página aún no se ha implementado. O podría ser que se haya implementado pero no se haya encontrado.</p>
		</main>
		<Footer />
	</body>
</html>
